Source: kphotoalbum
Section: graphics
Priority: optional
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Fathi Boudra <fabo@debian.org>, Mark Purcell <msp@debian.org>
Build-Depends: debhelper (>= 9), cmake (>= 3.1), pkg-kde-tools (>= 0.15.16),
 docbook-to-man,
 extra-cmake-modules,
 qtbase5-dev,
 libphonon4qt5-dev,
 libkf5archive-dev,
 libkf5completion-dev,
 libkf5config-dev,
 libkf5coreaddons-dev,
 libkf5doctools-dev,
 libkf5i18n-dev,
 libkf5iconthemes-dev,
 libkf5jobwidgets-dev,
 libkf5kio-dev,
 libkf5textwidgets-dev,
 libkf5widgetsaddons-dev,
 libkf5xmlgui-dev,
 libkf5kdcraw-dev,
 libqt5webkit5-dev, libmarble-dev,
 libkf5kipi-dev,
 libkf5kface-dev,
 libkf5parts-dev,
 libexiv2-dev (>= 0.19), libjpeg-dev,
 x11proto-core-dev,
 pkg-config,
 libphonon4qt5-dev,
 libphonon4qt5experimental-dev,
 libqt5webkit5-dev,
Standards-Version: 4.0.0
Homepage: http://kphotoalbum.org
Vcs-Browser: https://anonscm.debian.org/viewvc/pkg-kde/kde-extras/kphotoalbum/trunk
Vcs-Svn: svn://anonscm.debian.org/pkg-kde/kde-extras/kphotoalbum/trunk/

Package: kphotoalbum
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends},
 libqt5sql5-sqlite, mplayer
Recommends: khelpcenter, ffmpeg, kipi-plugins
Description: tool for indexing, searching and viewing images by keywords for KDE
 KPhotoAlbum lets you index, search, group and view images by keywords, date,
 locations and persons. It provides a quick and elegant way to lookup groups of
 images when you have thousands of pictures on your hard disk. 
 .
 The information associated with each photo is stored in an XML file. Together
 with its keywords, KPhotoAlbum stores each picture's MD5 sum, so it will
 recognize them even if you move them to another directory. KPhotoAlbum can
 also create HTML galleries with the images you select.
 .
 KPhotoAlbum can also make use of the KIPI image handling plugins to extend its
 capabilities. The kipi-plugins package contains many useful extensions. Among
 others, it contains extensions for photo manipulation, importing, exporting
 and batch processing.
